/* Estilo General */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9e0e0;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s;
}

h1, h2,h4 {
    color: #ba10ca;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


p, h3 {
    color: #0d020e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Contenedores */
.container {
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: #f9a8d4;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Input y Textarea */
input[type="text"], input[type="file"], textarea {
    padding: 12px;
    margin-top: 10px;
    border: 2px solid #ff4d87;
    border-radius: 10px;
    width: 80%;
    max-width: 100%;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus, textarea:focus {
    border-color: #ff1f5d;
    outline: none;
}

/* Botones */
button {
    padding: 12px 25px;
    background-color: #ff4d87;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff1f5d;
}

/* Estilo de la sección del contador */
.countdown {
    font-size: 48px;
    font-weight: bold;
    margin-top: 30px;
    color: #ff4d87;
    animation: fadeIn 1s ease-in-out;
}

/* Animación del contador */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Contenido adicional */
.content {
    margin-top: 30px;
    font-size: 18px;
}

textarea {
    width: 80%;
    height: 150px;
}

.image-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.image-preview {
    width: 200px;
    height: 120px;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #ff4d87;
}

/* Estilo del video de YouTube */
#videoContainer iframe {
    width: 100%;
    height: 315px;
    border-radius: 8px;
    margin-top: 15px;
}

/* Animación del fondo */
body {
    animation: changeBgColor 5s infinite;
}

@keyframes changeBgColor {
    0% { background-color: #f9e0e0; }
    50% { background-color: #f7d1d1; }
    100% { background-color: #f9e0e0; }
}
